html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}
body {
  margin: 0
}
main {
  display: block
}
h1 {
  font-size: 2em;
  margin: .67em 0
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}
pre {
  font-family: monospace,monospace;
  font-size: 1em
}
a {
  background-color: transparent
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}
b,
strong {
  font-weight: bolder
}
code,
kbd,
samp {
  font-family: monospace,monospace;
  font-size: 1em
}
small {
  font-size: 80%
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}
sub {
  bottom: -.25em
}
sup {
  top: -.5em
}
img {
  border-style: none
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  outline: 0;
  margin: 0
}
button,
input {
  overflow: visible
}
button,
select {
  text-transform: none
}
[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText
}
fieldset {
  padding: .35em .75em .625em
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}
progress {
  vertical-align: baseline
}
textarea {
  overflow: auto
}
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}
details {
  display: block
}
summary {
  display: list-item
}
template {
  display: none
}
[hidden] {
  display: none
}
@font-face {
  font-family: "Favorit Extended";
  src: url(../fonts/Favorit-ExtendedBold.eot);
  src: url(../fonts/Favorit-ExtendedBold.eot?#iefix) format("embedded-opentype"),url(../fonts/Favorit-ExtendedBold.woff2) format("woff2"),url(../fonts/Favorit-ExtendedBold.woff) format("woff"),url(../fonts/Favorit-ExtendedBold.ttf) format("truetype"),url(../fonts/Favorit-ExtendedBold.svg#Favorit-ExtendedBold) format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap
}
@font-face {
  font-family: "Favorit Extended";
  src: url(../fonts/Favorit-ExtendedLight.eot);
  src: url(../fonts/Favorit-ExtendedLight.eot?#iefix) format("embedded-opentype"),url(../fonts/Favorit-ExtendedLight.woff2) format("woff2"),url(../fonts/Favorit-ExtendedLight.woff) format("woff"),url(../fonts/Favorit-ExtendedLight.ttf) format("truetype"),url(../fonts/Favorit-ExtendedLight.svg#Favorit-ExtendedLight) format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap
}
@font-face {
  font-family: "Favorit Extended";
  src: url(../fonts/Favorit-ExtendedRegular.eot);
  src: url(../fonts/Favorit-ExtendedRegular.eot?#iefix) format("embedded-opentype"),url(../fonts/Favorit-ExtendedRegular.woff2) format("woff2"),url(../fonts/Favorit-ExtendedRegular.woff) format("woff"),url(../fonts/Favorit-ExtendedRegular.ttf) format("truetype"),url(../fonts/Favorit-ExtendedRegular.svg#Favorit-ExtendedRegular) format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}
.svg-image-left,
.svg-image-right {
  background: url(../images/sprites/main.svg) no-repeat
}
.svg-image-left {
  background-position: 0 100%;
  background-size: 101.1453744493% auto;
  width: 1135px
}
.svg-image-left:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 34.8898678414%
}
.svg-image-left-dims {
  width: 1135px;
  height: 396px
}
.svg-image-right {
  background-position: 0 0;
  background-size: 100% auto;
  width: 1148px
}
.svg-image-right:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 35.0174216028%
}
.svg-image-right-dims {
  width: 1148px;
  height: 402px
}
.image-by-height {
  width: auto
}
.image-by-height:before {
  content: none
}
.image-by-height > svg {
  height: inherit
}
.image-by-height > img {
  height: inherit!important;
  vertical-align: top!important;
  margin: 0!important;
  padding: 0!important;
  max-width: none!important;
  max-height: none!important;
  border: 0!important;
  opacity: 0!important
}
:root {
  --white-color: #fff;
  --black-color: #000;
  --favorit: "Favorit Extended",sans-serif;
  --inter: "Inter",sans-serif;
  --transition: all 0.2s ease-out
}
html {
  box-sizing: border-box
}
*,
::after,
::before {
  box-sizing: inherit
}
*,
h1,
h2,
h3,
p {
  padding: 0;
  margin: 0
}
li,
ol,
ul {
  list-style-type: none
}
a {
  text-decoration: none;
  color: inherit
}
body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: var(--favorit);
  color: var(--white-color);
  background-color: var(--black-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
body.lock {
  overflow: hidden
}
.container {
  width: 100%;
  max-width: 1366px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 24px
}
.header {
  height: 58px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}
.header__navbar {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.header__panel {
  width: 50%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}
.header__panel li:not(:last-child) {
  margin-right: 4px
}
.header__panel--left {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding-left: 6.9%
}
.header__panel--right {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end
}
.header__link {
  padding: 8px 16px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: .05em;
  text-transform: uppercase;
  text-transform: uppercase;
  transition: var(--transition)
}
.header__link:hover {
  opacity: .7
}
.main {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1
}
.intro {
  padding-top: 40px;
  border-top: 1px solid var(--white-color)
}
.intro__top {
  position: absolute;
  top: 16px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  min-width: 50px;
  padding: 12px 22px 13px;
  font-family: var(--inter);
  font-weight: 500;
  font-size: 34px;
  line-height: 24px;
  text-align: center;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: var(--black-color)
}
.intro__top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 28px;
  border-radius: 15px 15px 0 0;
  border: 1px solid var(--white-color);
  border-bottom: none
}
.intro__top--left,
.intro__top--right {
  position: absolute;
  top: 28px;
  width: 14px;
  height: 15px;
  background-color: var(--black-color)
}
.intro__top--left::before,
.intro__top--right::before {
  content: "";
  position: absolute;
  top: 0;
  width: 16px;
  height: 100%;
  background-color: var(--black-color)
}
.intro__top--left {
  left: -13px
}
.intro__top--left::before {
  left: -2px;
  border-right: 1px solid var(--white-color);
  border-bottom: 1px solid var(--white-color);
  border-radius: 0 0 15px 0
}
.intro__top--right {
  right: -13px
}
.intro__top--right::before {
  right: -2px;
  border-left: 1px solid var(--white-color);
  border-bottom: 1px solid var(--white-color);
  border-radius: 0 0 0 15px
}
.intro__wrapper {
  position: relative;
  width: 100%;
  min-height: 518px
}
.intro__main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: var(--black-color);
  border-radius: 30px 30px 0 0;
  overflow: hidden
}
.intro__content,
.intro__visual {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0
}
.intro__content {
  z-index: 10;
  padding: 68px 56px;
  border: 1px solid var(--white-color);
  border-radius: 30px 30px 0 0;
  overflow: hidden
}
.intro__visual {
  z-index: 5
}
.intro__bg--left {
  position: absolute;
  top: 0;
  left: 0;
  width: 86.12%;
  padding-top: 30.05%
}
.svg-image-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto
}
.intro__bg--left {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 87.1%;
  padding-top: 30.5%
}
.svg-image-right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: auto
}
.intro__orange {
  position: absolute;
  bottom: -43px;
  right: 112px;
  z-index: 20;
  width: 405px;
  height: 405px
}
.intro__orange img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain
}
.intro__purple {
  position: absolute;
  bottom: 145px;
  right: 28px;
  z-index: 10;
  width: 286px;
  height: 286px
}
.intro__purple img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain
}
.intro__suptitle {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: .05em;
  text-transform: uppercase;
  opacity: .5
}
.intro__title {
  margin-bottom: 24px;
  font-weight: 350;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -.02em;
  text-transform: uppercase
}
.intro__text {
  margin-bottom: 32px;
  font-weight: 350;
  font-size: 16px;
  line-height: 64px;
  letter-spacing: -.02em;
  text-transform: uppercase
}
.intro__button {
  padding: 18px 32px;
  border: none;
  border-radius: 0 20px 20px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: var(--black-color);
  background: var(--white-color);
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  transition: var(--transition)
}
.intro__button:hover {
  opacity: .7
}
.intro__button:active {
  -webkit-transform: scale(.98);
  transform: scale(.98)
}
.intro__panel {
  position: absolute;
  right: -1px;
  z-index: 10000;
  width: 372px;
  height: 60px;
  border: 1px solid var(--white-color);
  background-color: var(--black-color)
}
.intro__panel--top {
  top: -1px;
  border-radius: 0 0 0 30px
}
.intro__panel--top::before {
  content: "";
  position: absolute;
  top: 0;
  left: -30px;
  width: 30px;
  height: 30px;
  border: 1px solid var(--white-color);
  border-radius: 0 30px 0 0;
  border-bottom: none;
  border-left: none;
  box-shadow: 10px -10px 0 8px #000
}
.intro__panel--top::after {
  content: "";
  position: absolute;
  bottom: -30px;
  right: 0;
  width: 30px;
  height: 30px;
  border: 1px solid var(--white-color);
  border-radius: 0 30px 0 0;
  border-bottom: none;
  border-left: none;
  box-shadow: 10px -10px 0 8px #000
}
.intro__panel--bottom {
  bottom: -1px;
  border-radius: 30px 0 0 0
}
.intro__panel--bottom::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -30px;
  width: 30px;
  height: 30px;
  border: 1px solid var(--white-color);
  border-radius: 0 0 30px 0;
  border-top: none;
  border-left: none;
  box-shadow: 10px 10px 0 8px #000
}
.intro__panel--bottom::after {
  content: "";
  position: absolute;
  top: -30px;
  right: 0;
  width: 30px;
  height: 30px;
  border: 1px solid var(--white-color);
  border-radius: 0 0 30px 0;
  border-top: none;
  border-left: none;
  box-shadow: 10px 10px 0 8px #000
}
.intro__nav {
  position: absolute;
  bottom: -27px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 100;
  width: 162px;
  height: 42px;
  border-radius: 30px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch
}
.intro__center,
.intro__next,
.intro__prev {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--black-color);
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  transition: all .1s ease-out
}
.intro__center path,
.intro__next path,
.intro__prev path {
  transition: var(--transition)
}
.intro__center:hover path,
.intro__next:hover path,
.intro__prev:hover path {
  fill: #b2b2b2
}
.intro__center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: 5;
  width: 64px;
  height: 64px;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid var(--white-color)
}
.intro__center:active {
  -webkit-transform: translate(-50%,-50%) scale(.9);
  transform: translate(-50%,-50%) scale(.9)
}
.intro__next,
.intro__prev {
  width: 50%;
  border: 1px solid var(--white-color)
}
.intro__next:active,
.intro__prev:active {
  -webkit-transform: scale(.9);
  transform: scale(.9)
}
.intro__prev {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding-left: 21px;
  border-radius: 30px 0 0 30px
}
.intro__next {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-right: 21px;
  border-radius: 0 30px 30px 0
}
footer {
  padding: 20px
}
/*# sourceMappingURL=maps/main.css.map */
