header.header
    .container
        nav.header__navbar
            h2.header__logo THE DROPLET

            ul.header__panel.header__panel--left
                li
                    a.header__link(href="#") records
                li
                    a.header__link(href="#") Join discord
            ul.header__panel.header__panel--right
                li
                    a.header__link(href="#") drops
                li
                    a.header__link(href="#") Products
                li
                    a.header__link(href="#") Contact


        .header__burger
            span
