section.intro
    p.intro__top experience
        span.intro__top--left
        span.intro__top--right
    .container
        .intro__wrapper
            .intro__main
                .intro__content
                    p.intro__suptitle NFT
                    h1.intro__title THE DROPLET
                    p.intro__text Will be announced Soon
                    button.intro__button(type="button") JOIN WAITLIST

                .intro__visual
                    .intro__bg--left
                        +icon('left')
                    .intro__bg--right
                        +icon('right')

            .intro__nav
                .intro__prev
                    +introPrev()
                .intro__center
                    +introCenter()
                .intro__next
                    +introNext
