.intro {
  border-top: 1px solid var(--white-color);
}

.intro__top {
  position: absolute;
  // top: -43px;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 50px;
  padding: 12px 22px 13px;
  font-family: var(--inter);
  font-weight: 500;
  font-size: 34px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: var(--black-color);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 28px;
    border-radius: 15px 15px 0 0;
    border: 1px solid var(--white-color);
    border-bottom: none;
  }
}

.intro__top--left,
.intro__top--right {
  position: absolute;
  top: 28px;
  width: 14px;
  height: 15px;
  background-color: var(--black-color);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 16px;
    height: 100%;
    background-color: var(--black-color);
  }
}

.intro__top--left {
  left: -13px;

  &::before {
    left: -2px;
    border-right: 1px solid var(--white-color);
    border-bottom: 1px solid var(--white-color);
    border-radius: 0 0 15px 0;
  }
}

.intro__top--right {
  right: -13px;

  &::before {
    right: -2px;
    border-left: 1px solid var(--white-color);
    border-bottom: 1px solid var(--white-color);
    border-radius: 0 0 0 15px;
  }
}

.intro__wrapper {
  padding-top: 40px;
}

.intro__main {
  position: relative;
  width: 100%;
  min-height: 516px;
  background-color: var(--black-color);
  border: 1px solid var(--white-color);
  border-radius: 30px 30px 0 0;
  overflow: hidden;
}

.intro__content,
.intro__visual {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.intro__content {
  z-index: 10;
  padding: 68px 56px;
}

.intro__visual {
  z-index: 5;
}

.intro__bg--left {
  position: absolute;
  top: 0;
  left: 0;
  width: 86.12%;
  padding-top: 30.05%;
}

.svg-image-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.intro__bg--left {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 87.1%;
  padding-top: 30.5%;
}

.svg-image-right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: auto;
}

.intro__suptitle {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  opacity: 0.5;
}

.intro__title {
  margin-bottom: 24px;
  font-weight: 350;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.intro__text {
  margin-bottom: 32px;
  font-weight: 350;
  font-size: 16px;
  line-height: 64px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.intro__button {
  padding: 18px 32px;
  border: none;
  border-radius: 0px 20px 20px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: var(--black-color);
  background: var(--white-color);
  outline: none;
  appearance: none;
  cursor: pointer;
  transition: var(--transition);

  &:hover {
    opacity: 0.7;
  }
}
