@use 'sass:math';

%svg-common {
	background: url("../images/sprites/main.svg") no-repeat;
}

.svg-image-discord {
	@extend %svg-common;
	background-position: 4.289544235924933% 97.16312056737588%;
	background-size: math.div(1148, 29)*100% auto;
	width: 29px;

}
@mixin svg-pos-image-discord {
	background-position: 4.289544235924933% 97.16312056737588%;
}
@mixin svg-image-discord-hover {
	.svg-image-discord {
		@include svg-pos-image-discord-hover
	}
}

.svg-image-discord:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(24, 29)*100%;
}

.svg-image-discord-dims {
	width: 29px;
	height: 24px;
}

.svg-image-left {
	@extend %svg-common;
	background-position: 0 84.81012658227849%;
	background-size: math.div(1148, 1135)*100% auto;
	width: 1135px;

}
@mixin svg-pos-image-left {
	background-position: 0 84.81012658227849%;
}
@mixin svg-image-left-hover {
	.svg-image-left {
		@include svg-pos-image-left-hover
	}
}

.svg-image-left:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(396, 1135)*100%;
}

.svg-image-left-dims {
	width: 1135px;
	height: 396px;
}

.svg-image-open {
	@extend %svg-common;
	background-position: 0 100%;
	background-size: math.div(1148, 48)*100% auto;
	width: 48px;

}
@mixin svg-pos-image-open {
	background-position: 0 100%;
}
@mixin svg-image-open-hover {
	.svg-image-open {
		@include svg-pos-image-open-hover
	}
}

.svg-image-open:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(48, 48)*100%;
}

.svg-image-open-dims {
	width: 48px;
	height: 48px;
}

.svg-image-panel-top {
	@extend %svg-common;
	background-position: 0 94.32624113475177%;
	background-size: math.div(1148, 315)*100% auto;
	width: 315px;

}
@mixin svg-pos-image-panel-top {
	background-position: 0 94.32624113475177%;
}
@mixin svg-image-panel-top-hover {
	.svg-image-panel-top {
		@include svg-pos-image-panel-top-hover
	}
}

.svg-image-panel-top:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(24, 315)*100%;
}

.svg-image-panel-top-dims {
	width: 315px;
	height: 24px;
}

.svg-image-right {
	@extend %svg-common;
	background-position: 0 0;
	background-size: math.div(1148, 1148)*100% auto;
	width: 1148px;

}
@mixin svg-pos-image-right {
	background-position: 0 0;
}
@mixin svg-image-right-hover {
	.svg-image-right {
		@include svg-pos-image-right-hover
	}
}

.svg-image-right:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(402, 1148)*100%;
}

.svg-image-right-dims {
	width: 1148px;
	height: 402px;
}

.svg-image-waves {
	@extend %svg-common;
	background-position: 30.912659470068697% 93.77203290246769%;
	background-size: math.div(1148, 129)*100% auto;
	width: 129px;

}
@mixin svg-pos-image-waves {
	background-position: 30.912659470068697% 93.77203290246769%;
}
@mixin svg-image-waves-hover {
	.svg-image-waves {
		@include svg-pos-image-waves-hover
	}
}

.svg-image-waves:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(19, 129)*100%;
}

.svg-image-waves-dims {
	width: 129px;
	height: 19px;
}


.image-by-height { width:auto; }
.image-by-height:before { content:none; }
.image-by-height > svg { height: inherit; }
.image-by-height > img { height: inherit !important; vertical-align: top !important; margin: 0 !important; padding: 0 !important; max-width: none !important; max-height: none !important; border: 0 !important; opacity: 0 !important; }